<a href="https://colab.research.google.com/github/vaishnavitirumalasetty/python_learnings/blob/main/Vaishnavi__python_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basics of python

In [ ]:
#what is python?
'''1.Python is general purpose programming language
   2.high level prog language
   3.object oriented prog lang
   4.Dynamically typed programming lang
   5.interpretted programming lang.'''
#why we required comments?
#for the better understanding purpose

'1.Python is general purpose programming language\n   2.high level prog language\n   3.object oriented prog lang\n   4.Dynamically typed programming lang\n   5.interpretted programming lang.'

In [ ]:
#what is statistically typed programming language?
'''in statistically typed programming language we need to define  data type for variables.
   ex-java,c++.'''

In [ ]:
#what is low-level prog lang?
'''1.low-level prog lang are manchine friendly languages
   2.In this the code is changing to binary form fro:-[0101001]
   3.More lines of code
   4.c, c++'''

In [ ]:
#what is high level programming lang?
'''1.human friendly lang
   2. the codes are not changing into binary form.
   3.low lines of codes=s
   4.it is like an english language.'''

In [ ]:
#print "hello world" in python?
# i am using "print()" to display my output
print("hello world!")

hello world!

#Numerical Data Types

In [ ]:
#what are all numerical data types?
#There are 3 types on numerical data types.
#1.Integer:-A whole number either +ve or -ve without decimal point.
print(10)
print(5)
print(-10)
#find the data types of above integers?
#i am using "types()" to find the data type
print(type(10))
print(type(5))
print(type(-1))

10
5
-10
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
#2.float:- A whole number either +ve or -ve with decimal point
print(2.0)
print(5.36)
#print type of above integer?
print(type(2.0))
print(type(-2.73))

2.0
5.36
<class 'float'>
<class 'float'>

In [ ]:
#complex number:-A real number with its imaginary part is know as complex number
print(2+4j)
print(type(2+4j))
#what is "j"?
#j----------->iota----->value of "j" is root (-1)

(2+4j)
<class 'complex'>

#arithmetic operators

In [ ]:
#there are 7 arithmetic operators
#1.addition-------> +
print(10 + 2)

#2.sub ---------> -
print(10 - 2)
#3. mult---------->*
print(10 * 2)
#4. division ------> /
#Why we are getting default data type  for divison is float?
#when your doing  division sometimes if you want extract,exact co-efficient you may get decimal values instead defining the data type we are getting float data type.
print(10 / 2)
#modulus--------> %------> reaminder of the divison.
print(10 % 2)
print(type(10%2))
#exponential------------> **-------->to the power off-----<
print(2 ** 3)
print(10 ** 2)
print(type(10 ** 2))
#Floor Division ----->//------>it's a type of division where it igoners all the values after decimal in co-efficient
print(10/3)
print(10//3)
print(type(10//3))

12
8
20
5.0
0
<class 'int'>
8
100
<class 'int'>
3.3333333333333335
3
<class 'int'>

#Round()

In [ ]:
#what is round()?
#Rounding to the nearest values
print(round(10.234))
#when the values are below 0.5 then it will give the base value
print(round(2.543))

10
3

In [ ]:
#print specific decimal "n digits" from the value 2.53476
#expected output--->2.53
#use round()--------> round(number,ndigits)
print(round(2.53476,2))

2.53

In [ ]:
#what is floor value and what is ceiling values?
#floor value---> these are  the values before the decimal numbers
#ceiling value-> these are the upcoming values or nearest values

In [ ]:
#types of errors
#variables.
#input()
#escape characters.

#Types of errors

In [ ]:
'''types of error
1.syntax error
2.logical error'''

In [ ]:
#1,syntax error:-Breaking the rules of the programming language can rise the syntax error
#print(2* *3) error
print(2**3)

8

In [ ]:
#logcical error-except syntax error all the errors comes under logical error
#ex- name error ,recusive error,attribute error, indentation error,
#ex """"      ''''

#variables

In [ ]:
#what is variables?
#variables are containers where we can store valuable information and reuse it.
#what is purpose of varaibles?
#is to reduce the memory size.
#how to create the variables?
x=40
son_age=x/2
print(son_age)
#how we are going to access the variables?
#print()

20.0

In [ ]:
#python is an interpreted language?
#menas it will execute the code line by line
x=10
y=5
x=60
y=10
print(x+y)

70

In [ ]:
#take two variables of integers and apply all the arthamatic operations?
a=5
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a&b)

7
3
10
2.5
2
25
0

In [ ]:
#python is a dynamically typed programming language?
#we are not defining the dtype for variables python can read dtypes automatically
x=10
print(type(x))
y="hello world"
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
#Rules for creating varaibles.
#1.always start creating the variables with alphabets.
'''a="hello world"
print(a)'''
#2.don't start creating the variables with numbers
#ex 2="hello world"
#   print(2)
#3.if you follow rule 1 and 2 the you can start creating variables with alphabets in b/w you include numbers.


#4.don't give spaces in b/w the variables.
#ex: son age = 20
#    print(son age)

#5. don't use special characters .----> !,@ ,#,$,%,^,&
# @=10
# print(@)

#6.you can start creating variables with (_) special characters
#ex _ = 10
# print(_)

#7.always prefer variables in lowercase

In [ ]:
#python is a case senstive language?
#ex--. x = "hello world"
# print(X)

In [ ]:
#1.assign multiple values to the multiple varaibles and frint in seperate line
a,b,c = 10,20,30
print(a)
print(b)
print(c)
#use "sep=\n" operator to print values in separate line
print(a,b,c,sep="\n")

10
20
30
10
20
30

In [ ]:
#Assign same value to the multiple variables and print in seperate line?
a=b=c=10
print(a,b,c,sep="\n")

10
10
10

In [ ]:
a=10
b=10
c=10
print(a,b,c,sep="\n")

10
10
10

In [ ]:
#Python Identifier is the name we give to identify a variable, function, class, module or other object.

#Input()

In [ ]:
#what is input()?
#it intakes every information/data/values given by user
#where we have to use this input?
#when user is given mutliple information/data/value to the same variables then we have to use input()
#why we are using input()? or what is the purpose of using the input()?
#to maintain the ram/memory

In [ ]:
#how to create input() and how to access the input()?
# we are using input functions along with a variable name to create input()
#we are using print() to access the input()

In [ ]:
#give message inside the input function.

a=input("enter the number=")
print(a)
#the default data type for input() is string.
#why default data type for input() is string?
#user may give different types of information/data/value the input function has built in such a way so it can take any kind of information so that's why default dtype is string.

enter the number=23
23

#Strings

In [ ]:
#what is strings?
#collection of multiple characters that are written inside quates.------->(" ") or(' ')
#how can you denote or write a multiline string?
print(""" hi
I'm using python mutiline string
this is my 1st execution """)

 hi
I'm using python mutiline string
this is my 1st execution

In [ ]:
#string is a collection of multiple characters,each characters in string can be accessible.
#how can we access each character in a string ?
#we are using "indexing" and "slicing operator" to access the specific characters in a string

In [ ]:
#indexing- positional number of each character in a string
#these indexing can be starts with zero
#slicing operators---> [] ---->it is use to break the string.also used to retrive substring from the main string.

In [ ]:
#what is substring?
#is nothing but a part of main string

In [ ]:
#how to find how many index and how to find length of a string?
x="Hello world!"
#to find the length of string we are using len function-------> len()
#length can be start from the 1
print(len(x))
#if you want to find the total index sunstract length -1
print(len(x)-1)

12
11

In [ ]:
#[start_index values#]
x="Hello world!"
print(x[0])
print(x[6])

H
w

In [ ]:
#if i want range of characters for example print "llo wo" from above string?
#[start_index value:end_indexvalue]
x="Hello world!"
print(x[2:8]) #------> always--------- n+1
#when your print range of character by using slicing operation the end character, if u want to display then add it with 1

llo wo

In [ ]:
print(x[6:11])

world

#13-07-2024

In [ ]:
#print characters of the even position for the given string "Hello world!"
#hLOWRD
#["start:end:step"]
a="Hello world!"
print(a[0:12:2])

Hlowrd

In [ ]:
#print odd index position characters?
print(a[1:12:2])

el ol!

#defaulting indexing

In [ ]:
#what is defaulting indexing?
#during slicing operation if u won't specify the index positional numbers then python can take 0 as the start position number and length measure as the end position number
print(a[:])

Hello world!

In [ ]:
print(a[::1])#-------------->overall string
print(a[::2])#---------------->even position characters
print(a[1::2])#----------->odd position characters
#default the step value can be 1

Hello world!
Hlowrd
el ol!

#Negative Indexing

In [ ]:
#What is -ve indexing?
#it is define as indexing the positional characters from right to left(reverse direction) by using -ve numbers
#-ve indexing can be starts with -1
#by using -ve indexing e can access the characters in the reverse direction
s="Hello world!"
#[start]
#print the w by using-ve indexing?
print(s[-6])

w

In [ ]:
#print range of characters in -ve indexing?
#world
print(s[-6:-1])

world

In [ ]:
#reverse a string "hello world!"
#!drow olleh
#[start:end:step]
print(a[-1:-13:-1])

dlrow olleH

In [ ]:
print(a[::-1])

dlrow olleH

In [ ]:
#check wheather the given string is palindrome or not?
a=input("enter the string:")
print(a[::-1])

enter the string:mom
mom

#String methods

In [ ]:
#what are all methods applicable on the string?
#use dir() it will tells you what are all the methods can be applicable for the given string
#what is dir()?
#it returns what are all the methods applicable on the given string
a="hello world"
#to find methods use dir()
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#important string methods
#1.capitalize
print(a.capitalize())            #-------->o/p--------->Hello world
#2.upper
print(a.upper())           #------->o/p---->HELLO WORLD
print(a.title())

Hello world
HELLO WORLD
Hello World

In [ ]:
#swapcase
a="hello"
b="world"
temp=a
a=b
b=temp
print(a,b)

world hello

In [ ]:
#3.lower
a="HELLO WORLD"
print(a.lower())
print(a.title())
print(a.swapcase())

hello world
Hello World
hello world

In [ ]:
a = " hello world   !"
print(a.strip())
print(a.)

hello world   !

In [ ]:
a = "  helo world   "
print(a.strip())
print(a.lstrip())
print(a.rstrip())

helo world
helo world
  helo world

In [ ]:
a = "hello good morning"
print(a.replace("morning","afternoon"))

hello good afternoon

In [ ]:
a = "hello i am practicing python daily 2 times"
print(a.isalpha())

False

In [ ]:
a = "helloiam"
print(a.isalpha())

True

In [ ]:
b = "123456"
print(b.isalnum())

True

In [ ]:
b = "123456"
print(b.find("6")) #it returns the indexing position of the given string

5

In [ ]:
c = "hello word"
print(c.find("o"))

4

#string formating methods

In [ ]:
#what is string formating method?
#it is defined as formating method can takes an argument and place it over a placeholder{}.
#This can be three 3 types.
#

age=10
my = "my age is "
print()

In [ ]:
#string concatination
a="hello"
b="world"
print(a+" "+b)

hello world

In [ ]:
#1st formating method.print formatting method
age = 10
my_age = "i am {} years old."
print(my_age.format(10))

i am 10 years old.

In [ ]:
#2nd string format method using format at end of the string
age=10
my_age = "i am {} years old.".format(10)
print(my_age)

i am 10 years old.

In [ ]:
#3rd f'string format method':
age=10
my_age= f'i am {age} years old'
print(my_age)

i am 10 years old

In [ ]:
#1st method
item_name="product A"
quantity = 10
price_each = 99.9
Notification= "your order for {} has confirmed at a price of {},and quantity of {} ,placed sucessfully"
#expected o/p----->your order for product A has confirmed at a price of 999.9,placed sucessfully
print(Notification.format(item_name,price_each*quantity,quantity))

your order for product A has confirmed at a price of 999.0,and quantity of 10 ,placed sucessfully

In [ ]:
#2nd method
item_name="product A"
quantity = 10
price_each = 99.9
Notification= "your order for {} has confirmed at a price of {},and quantity of {} ,placed sucessfully".format(item_name,price_each*quantity,quantity)
#expected o/p----->your order for product A has confirmed at a price of 999.9,placed sucessfully
print(Notification)

your order for product A has confirmed at a price of 999.0,and quantity of 10 ,placed sucessfully

In [ ]:
#3rd method
item_name="product A"
quantity = 10
price_each = 99.9
Notification=f' your order for {item_name} has confirmed at a price of {price_each*quantity},and quantity of {quantity} ,placed sucessfully'
#expected o/p----->your order for product A has confirmed at a price of 999.9,placed sucessfully
print(Notification)

 your order for product A has confirmed at a price of 999.0,and quantity of 10 ,placed sucessfully

#escape characters

In [ ]:
#what is escape characters?
#escape characrters are nothing but if you want to  print illegal character in a string we have to use escape characters
#----->use backward slash "\" infront of illegal character next  at the end also use "\" before illegal characters

In [ ]:
a="Dywan \"The rock\" Johnson."
print(a)

Dywan "The rock" Johnson.

In [ ]:
print(round(7.25,-1))

10.0

#15/07/2024

#loops

In [ ]:
#why we use loops?
#we use loops to add avoid duplicate codes

#how many types of codes we are having python
#1.WET codes          #DRY codes
#W --> Write          D----> Don't
#E---> everything     R--->repeat
#T --> Twice          y---->yourself


#what are all the loops do we have in python?
#1.while loop
#2.for loop

In [ ]:
#1.while loops:-It runs set of instructions as long as condition remains returns

In [ ]:
target = 5
intial = 0
while intial < target :
  print("go up")
  print("go down")
  print("======================rep completed==============")
  intial = intial + 1

go up
go down
======================rep completed==============
go up
go down
======================rep completed==============
go up
go down
======================rep completed==============
go up
go down
======================rep completed==============
go up
go down
======================rep completed==============

In [ ]:
#write program to run a lift
target=int(input("enter your floor number : "))
ground_floor=0
while ground_floor<=target:
  print(f'you have reached {ground_floor} floor')
  ground_floor =ground_floor + 1

enter your floor number : 5
you have reached 0 floor
you have reached 1 floor
you have reached 2 floor
you have reached 3 floor
you have reached 4 floor
you have reached 5 floor

In [ ]:
#write a program  to print 10 digit using while loop in seperate lines
n=int(input("enter the digits:"))
m=0
while m<=n:
  print(f'print digit {m} ')
  m=m+1

enter the digits:10
print digit 0
print digit 1
print digit 2
print digit 3
print digit 4
print digit 5
print digit 6
print digit 7
print digit 8
print digit 9
print digit 10

In [ ]:
#write a program to print odd digits using while loop in separate lines upto 10?
n=int(input("enter the digits: "))
m=1
while m<=n:
  print(m)
  m=m+2

enter the digits: 10
1
3
5
7
9

In [ ]:
num= [10,20,30,40,50]
#o/p=20,40,60,80,100
#write a python to print the multipule of e
print(num*2)

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [ ]:
#for loop:-it run set of instructions for each and every element in a collections.
num= [10,20,30,40,50]
for i in num:
  print(i*2,end=" ")

20 40 60 80 100

In [ ]:
#print "hello world" in separate lines by using loops?
x="hello world"
for letters in x:
  print(letters)

h
e
l
l
o

w
o
r
l
d

In [ ]:
#is loops can run through each and every element in collection.---------->True

In [ ]:
#write a program to print "Vaishnavi" upto length of string?
#if length is 11 print 11 times if length is 15 print 15times?
n="vaishnavi"
for i in n:
  print(n)

vaishnavi
vaishnavi
vaishnavi
vaishnavi
vaishnavi
vaishnavi
vaishnavi
vaishnavi
vaishnavi

In [ ]:
#Break statement:-it terminates or breaks the loop once the condition satisfies.
num= [10,20,30,40,50]
#break the loop when iteration reaches to 30
for i in num:
  print(i)
  if i==30:
    break

10
20
30

In [ ]:
#Break statement:-it terminates or breaks the loop once the condition satisfies.
num= [10,20,30,40,50]
#break the loop when iteration reaches to 30
for i in num:
  if i==30:
    break
  print(i)

10
20

In [ ]:
 #if i use the print() before break why i am getting considered condition value?
 '''python is an interpretted language it will excecutus the code line by line when i have write print() before break .
 Before executing condition the iteration reaches to specific condition value
 so we can that specific value along with the iterated values in the output'''

In [ ]:
#continue:- It skips the particular iterations when the condition satisfies
a=[10,20,30,40,50,60,70,80,90]
for x in a:
  if x==40:
    continue
  print(x,end=" ")

10 20 30 50 60 70 80 90

In [ ]:
#can we do multiple contines.
a=[10,20,30,40,50,60,70,80,90]
for x in a:
  if x in (90,60,70):
    continue
  print(x,end=" ")

10 20 30 40 50 80

**Range**

In [ ]:
#write a program to create a range of numbers.
#range(end)
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#print hello world 6 times?
for i in range(6):
  print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [ ]:
#range(start:end)
#write a program to print range of value from 10 to 40?
for i in range(10,41):
  print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

In [ ]:
#write a program to print even numbers from 1 to 20?
#range(start,end,step).
for i in range (2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

#conditional statements

In [ ]:
#what is comparision operators? and what is relational operators?
#Both are same
#1. equals to -----> ==
#2.Not equals to----> !=
#3.Greater than------> >
#4. less than------> <
#5. greter than equals to----> >=
#6. less than equals to----> <=
#7. <>

In [ ]:
print(10==10)

True

In [ ]:
print(10!=10)

False

In [ ]:
print(10>10)

False

In [ ]:
print(10<10)

False

In [ ]:
print(10>=10)

True

In [ ]:
print(10<=10)

True

In [ ]:
#if-elif---else
#print a number wheater it is +ve or -ve or netural
number =int(input())
if number > 0:
  print("+ve")
elif number < 0:
  print("-ve")
else:
  print("netural")

0
netural

In [ ]:
#Logical operators
#not:-it will reverse your output
print(not(10==10))

False

In [ ]:
a=10
b=35
c=90
#check the condition a is less than b and c
#b is less than c
if a<b and a<c and b<c:
  print("all the conditions satisfied ")
else:
  print("any one conditions not satisfied")

all the conditions satisfied

In [ ]:
#pass means null ,noyhing will happens
s=int(input())
if s>0:
  pass

5

#Collections or aslo called iterable

In [ ]:
#they are 4 types of collection in python
#1.tuple
#2.list
#3.set
#4.dictionary

In [ ]:
#List----> orderd(indexing position numbers),mutable(changable),allow duplicates
''''1. add--->append,extend
2.remove---->pop,remove,del,clear'''
#Tuple---->ordered,immutable,allows the duplicates.
#set---->unordered(doesn't have any indexing position number),immutable,won't allow duplicates
'''except replace or swappping elements we can add and delete elements'''
'''1.ADD---> Update,add
2.delete--->pop,delete,remove,discard,clear'''
#union operation,intersection by using sets--->
#dictionary--->unordered,mutable,won't allow duplicates
''''replace or swap---> dic['key_name']="name" = "value"--->adds new key"value pairs
2.delete-->pop,del,clear'''

In [ ]:
#1.List-------> [] each element is separated with coma(,)
#---> is orderes, changable(mutable),and it allows duplicates

In [ ]:
#it allows duplicates
l1=["Apple","Banana","Cherries","kiwi","Watermelon","lemon","orange","Apple"]
print(l1)
print(type(l1))

['Apple', 'Banana', 'Cherries', 'kiwi', 'Watermelon', 'lemon', 'orange', 'Apple']
<class 'list'>

In [ ]:
#write program and prove me that list can allow the duplicates?

In [ ]:
#list is ordered.
""" ordered :- the elements or value in the list is having a specific index position number.
Based in this position number we are accessing the data."""

In [ ]:
#how we can access the data in list?
#we can access it by using the slicing operator---> and index position numbers

In [ ]:
l2=["Apple","Banana","cherries","kiwi","watermelon","lemon","orange"]
#what is the length of this list?
print(len(l2))

7

In [ ]:
#print or access apple from above list?
print(l2[0])
#print or access watermelon from above list?
print(l2[4])

Apple
watermelon

In [ ]:
#print the range of items "cherries","kiwi","watermelon","lemon"?
#[start:end]
print(l2[2:6])

['cherries', 'kiwi', 'watermelon', 'lemon']

In [ ]:
#use the negative index and print the range of items?
l2=["Apple","Banana","Cherries","kiwi","Watermelon","Lemon","Orange"]
print(l2[-3])

Watermelon

In [ ]:
#watermelon ,"Kiwi","Cherries"
print(l2[-3:-6:-2])

['Watermelon', 'Cherries']

In [ ]:
#print the list of even position elements?
print(l2[::-2])

['Orange', 'Watermelon', 'Cherries', 'Apple']

In [ ]:
#reverse the entire list?
print(l2[::-1])

['Orange', 'Lemon', 'Watermelon', 'kiwi', 'Cherries', 'Banana', 'Apple']

In [ ]:
#can we convert a list into string.
#write a program to convert the list into string
l3=["Apple","cherries","watermelon","orange"]
#using loops
for x in l3:
  print(x,end=" ") #end:-when you don't need output in each line then you use "end="
  #print(type(x))

Apple cherries watermelon orange

In [ ]:
#list mutable or changable:-
#how can you define a collection is mutable?
#it can be defined in three ways
#change-->replace---> A--->B------->swap the values
#ADD the items into the list
#deleting the items in the list

In [ ]:
#change -->replace--> items in list--->replace in list can be done with the help of index position numbers.
l4=['orange','lemon','watermelon','kiwi','cherries','banana','Apple']
l4[3]='strawberry'
print(l4)

['orange', 'lemon', 'watermelon', 'strawberry', 'cherries', 'banana', 'Apple']

In [ ]:
#if i want to replace the range of items in the list
l4[0:3] = "mango","pineapple","grapes"
print(l4)

['mango', 'pineapple', 'grapes', 'strawberry', 'cherries', 'banana', 'Apple']

In [ ]:
l4[0:4]="chashew","dry grapes"    #it is accepetable inlist your replace  index position with items irrespective of numbr position
print(l4)

['chashew', 'dry grapes', 'cherries', 'banana', 'Apple']

In [ ]:
#ADD the items into the list
#Append() by default it will add the items in the list in end positiom
l5=['Apple','Cherries','watermelon','orange']
l5.append("muskmelon")
print(l5)

['Apple', 'Cherries', 'watermelon', 'orange', 'muskmelon']

In [ ]:
#if i want to add the element in particular index position.
#insert(index,'new item name')
l5.insert(3,'lemon')#note you cannot insert multiple values into the list
print(l5)

['Apple', 'Cherries', 'watermelon', 'lemon', 'orange', 'muskmelon']

In [ ]:
#extend :-
l=[10,20,30,40]
l2=['Apple', 'Cherries', 'lemon','watermelon', 'lemon', 'orange', 'muskmelon']
#here when you give the 1st collection name the another collection elements is going to add in 1st collection.
l2.append(l)
print(l2)
print(len(l2))

['Apple', 'Cherries', 'lemon', 'watermelon', 'lemon', 'orange', 'muskmelon', [10, 20, 30, 40]]
8

In [ ]:
#extend :-
l=[10,20,30,40]
l2=['Apple', 'Cherries', 'lemon','watermelon', 'lemon', 'orange', 'muskmelon']
l2.extend(l)
print(l2)
print(len(l2))

['Apple', 'Cherries', 'lemon', 'watermelon', 'lemon', 'orange', 'muskmelon', 10, 20, 30, 40]
11

In [ ]:
l3=['apple','cherries','lemon','lemon']#--->apple,cherries,[10,20],lemon,lemon
l4=[10,20]
#write a program to add the elements to 13 at 2nd index position?
l3.insert(2,l4)
print(l3)

['apple', 'cherries', [10, 20], 'lemon', 'lemon']

**delete or remove**

In [ ]:
#delete
l5=['apple', 'cherries', [10, 20], 'lemon', 'lemon']
#delete cherries
l5.remove("cherries")
print(l5)

['apple', [10, 20], 'lemon', 'lemon']

In [ ]:
#pop
l5=['apple', [10, 20], 'lemon', 'lemon']
l5.pop()

'lemon'

In [ ]:
print(l5)

['apple', [10, 20], 'lemon']

In [ ]:
l5.pop(1)

[10, 20]

In [ ]:
print(l5)

['apple', 'lemon']

In [ ]:
#delete
l6=['Apple', 'Cherries', 'lemon', 'watermelon', 'lemon', 'orange', 'muskmelon', [10, 20, 30, 40]]
#write a program to delete range of items in the above collection
#[2:5]
del l6[2:5]
print(l6)

['Apple', 'Cherries', 'orange', 'muskmelon', [10, 20, 30, 40]]

In [ ]:
del l6[2:5]
print(l6)

['Apple', 'Cherries']

In [ ]:
del l6 #this will delete entire collection

In [ ]:
l=[10,20,30,40]
l2=['Apple', 'Cherries', 'lemon','watermelon', 'lemon', 'orange', 'muskmelon']
l2.update(l)
print(l2)
print(len(l2))
#Note:- "update()" is not present in the collection so you will rise attribute error.

In [ ]:
#sorting can be done based on "ascii" number
#ASCII = American standard code for information inter change.

In [ ]:
l2=['mango','Apple','pineapple','grape','kiwi','watermelon']
#insert "apple" in index position number "1"
l2.insert(1,'apple')
print(l2)

['mango', 'apple', 'Apple', 'pineapple', 'grape', 'kiwi', 'watermelon']

In [ ]:
#sort
l3=['mango', 'apple', 'Apple', 'pineapple', 'grape', 'kiwi', 'watermelon']
l3.sort()   #default is ascending order(lower to higher...A asciivalue is 65,)
print(l3)

['Apple', 'apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon']

In [ ]:
#sort above list in descending order
l2.sort(reverse=True)
print(l2)

['watermelon', 'pineapple', 'mango', 'kiwi', 'grape', 'apple', 'Apple']

In [ ]:
#sort th above collection without case sensitivity
l2.sort(key=str.lower)
print(l2)

['apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon']

In [ ]:
l=['watermelon', 'pineapple', 'mango', 'kiwi', 'grape', 'apple', 'Apple']
l[0:4:3]='mango','watermelon'
print(l)

['mango', 'pineapple', 'mango', 'watermelon', 'grape', 'apple', 'Apple']

#Fibonocci Series

In [ ]:
a=1
b=0
for i in range(9):
  c=a+b
  a=b
  b=c
  print(c)

1
1
2
3
5
8
13
21
34

#tuple

In [ ]:
#Tuple:---> ()
#ordered,immutable(unchangable),it allows duplicates

In [ ]:
#tuple allow duplicates
t1=('apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
print(t1)
print(len(t1))
print(type(t1))

('apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
7
<class 'tuple'>

In [ ]:
#ordered---accessing or displaying specific data by using index position numbers.
#each element in the collections is having it's indexing position number.
#[start]
t1=('apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
#i want only mango from above collection
print(t1[4])

mango

In [ ]:
#print the range of the elements in t1--->[3:5] print the 5th item also.
t1=('apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
print(t1[3:6])

('kiwi', 'mango', 'pineapple')

In [ ]:
#print even position in above collection?
t1=('apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
print(t1[::2]) #start can be 0 and end can be len(t1) by default

('apple', 'grape', 'mango', 'watermelon')

In [ ]:
#reverse the tuple
print(t1[::-1])

('watermelon', 'pineapple', 'mango', 'kiwi', 'grape', 'Apple', 'apple')

In [ ]:
#immutable---->  can't change the tuples in the list
t1=('apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
t1[1]="orange"
print(t1)
t1.pop()
print(t1)
#Note---> tuples are immutable so we can't add or delete items from tuple

In [ ]:
print(dir(t1))
#'count,'index'
#t1.count()
#t2.index()

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
print(t1.count("kiwi"))
print(t1.index("mango"))

1
4

In [ ]:
#create a list by using tuple?

In [ ]:
#diff between list and tuple?
#why tuples are faster than list?

In [ ]:
t1=('apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon')
print(type(t1))      #<'class tuple'>
t_1=list(t1)
print(t_1)      # ['apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon']
print(type(t_1))  #<class 'list'>

<class 'tuple'>
['apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'watermelon']
<class 'list'>

#Set

In [ ]:
#set ---> {}
#set is unordered,immutable,it won't allow the duplicates.
s1={1,3,4,5,7,1,2,3,4,5}
print(s1)

{1, 2, 3, 4, 5, 7}

In [ ]:
#set is unordered----> we can't access elements from the sets why because it doesn't have index position number
print(s1[0])   #output error

In [ ]:
#set are immutable
#In sets we can able to add and delete the item/elements but we can replace the items/elements.
# Why we can't swap or replace or change elements in sets?
#sets doesn't have index position so we cannot replace the elements
#where the elements in sets are storing?
#elements are storing randomly in the sets.

In [ ]:
#Adding elements in sets.
#what is the default index positions when you add elements/items in the sets.
s1.add(9) #addmethod can take only one argument
print(s1)

{1, 2, 3, 4, 5, 7, 9}

In [ ]:
#if i want to add multiple values or items in the set then?
#update
s3={10,11,12}
s1.update(s3)
print(s1)

{1, 2, 3, 4, 5, 7, 9, 10, 11, 12}

In [ ]:
s1.update("20","30","40")
print(s1)

{1, 2, 3, 4, 5, '4', 7, 9, 10, 11, 12, '0', '3', '2'}

In [ ]:
#remove elements from set.
s1.remove(1)
print(s1)

{2, 3, 4, 5, '4', 7, 9, 10, 11, 12, '0', '3', '2'}

In [ ]:
s1.remove('4')  #remove() takes exactly one argument
print(s1)

{2, 3, 4, 5, 7, 9, 10, 11, 12, '0', '3', '2'}

In [ ]:
#discard      discard take exactly one argument
s1.discard(2)
print(s1)

{3, 4, 5, 7, 9, 10, 11, 12, '0', '3', '2'}

In [ ]:
#pop
s1.pop()
print(s1)

#why we are not using pop methods in sets?
#it removes the elements randomly.

{4, 5, 7, 9, 10, 11, 12, '0', '3', '2'}

In [ ]:
#delete
del s1

In [ ]:
#What is difference between discar and delete?
#when we use discard if the item exists or not in the collections it  won't through any errors while execution
s={2, 3, 4, 5, 7, 9, 10, 11, 12, '0', '3', '2'}
s.discard(2)
print(s)

{3, 4, 5, 7, 9, 10, 11, 12, '0', '3', '2'}

In [ ]:
#execute matrix operation by using two sets
#union and intersection
s5={"a","b","c","d"}
s6={"d","e","f","g"}
s_add=s5.union(s6)
print(s_add)

{'b', 'f', 'a', 'c', 'e', 'g', 'd'}

In [ ]:
s_inter=s5.intersetion(s6)  #common elements will be printed
print(s_inter)

#dictionary

In [ ]:
#sets are faster than the list and tuple why?
'''in sets we can able to add new elements but we can't replace elements in sets and the elements are stored randomly
so elements/item in sets doesn't have indexing positions numbers.'''

In [ ]:
#how can you defined dictinoary?
#dictionary --->{}
#dictionary is an un-ordered,mutable,it won't allows to the duplicates.
#where we can store items or values or data in dictonary?
#we can store in "key:values" pairs.

In [ ]:
#proof: it won't allows to the duplicates.
d1 ={
    "Name" : " Vaishu",
    "Age" : 21,
    "Education" : " Btech", #it allows only one educations
    "Education" : "Inter"
}
print(d1)

{'Name': ' Vaishu', 'Age': 21, 'Education': 'Inter'}

In [ ]:
#Dictionary is unorederd -----> "key:value" pairs doesn't have index position numbers.
d2 ={
    "Name" : " Vaishu",
    "Age" : 21,
    "Education" : " Btech",
    "Education" : "Inter",
    "fruits" : ['apple','banana','kiwi','cherries']
}
#how can we access in a dictionary?
print(d2['fruits'])
#we can access the elements in dictionary by using the key names.

['apple', 'banana', 'kiwi', 'cherries']

In [ ]:
print(len(d2))

4

In [ ]:
#print only education.
print(d2['Education'])

Inter

In [ ]:
d2 ={
    "Name" : " Vaishu",
    "Age" : 21,
    "Education" : " Btech",
    "Education" : "Inter",
    "fruits" : ['apple','banana','kiwi','cherries']
}
#in the above dictionary print or access "apple"?
print(d2['fruits'][0])

apple

In [ ]:
#print "banana" and "kiwi"
print(d2["fruits"][1:3])

['banana', 'kiwi']

**Replace**


**ADD new key:value**

In [ ]:
#replace   dic1['key_name'] = 'name'
d2 ={
    "Name" : " Vaishu",
    "Age" : 21,
    "Education" : " Btech",
    "Education" : "Inter",
    "fruits" : ['apple','banana','kiwi','cherries']
}
#how can you replace values in dictionary?
d2['Name'] = 'srilatha'
print(d2)

{'Name': 'srilatha', 'Age': 21, 'Education': 'Inter', 'fruits': ['apple', 'banana', 'kiwi', 'cherries']}

In [ ]:
#how to add new elements in to dictionary?
d2['car'] = 'kia'
print(d2)
'''Note:- when we are replacing the values or adding ne key:value pair.If the key exist in dictionary the value can be replaced
else if the key doesn't exist new key:value pairs can be added '''

{'Name': 'srilatha', 'Age': 21, 'Education': 'Inter', 'fruits': ['apple', 'banana', 'kiwi', 'cherries'], 'car': 'kia'}

**delete items in dictionary

In [ ]:
#1.pop()
d2 ={
    "Name" : " Vaishu",
    "Age" : 21,
    "Education" : " Btech",
    "Education" : "Inter",
    "fruits" : ['apple','banana','kiwi','cherries']
}
d2.pop("fruits") #pop expected atleast 1 argument,got 0 why because dictionary is unordered
print(d2)

{'Name': ' Vaishu', 'Age': 21, 'Education': 'Inter'}

In [ ]:
#add new items to fruits in the d2 dictionary "orange" replace it in 1st index position
d2 ={
    "Name" : " Vaishu",
    "Age" : 21,
    "Education" : " Btech",
    "Education" : "Inter",
    "fruits" : ['apple','banana','kiwi','cherries']
}
d2['fruits'][1] = "orange"
print(d2)

{'Name': ' Vaishu', 'Age': 21, 'Education': 'Inter', 'fruits': ['apple', 'orange', 'kiwi', 'cherries']}

In [ ]:
#how can we find methods for paticular functions?
#use dir()
print(dir(d2))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
#add new item to fruits at index postion 2?
d2['fruits'].insert(2,'lemon')
print(d2)

{'Name': ' Vaishu', 'Age': 21, 'Education': 'Inter', 'fruits': ['apple', 'orange', 'lemon', 'kiwi', 'cherries']}

In [ ]:
#use append method.add "rse berry" into fruits?
d2['fruits'].append('rose berry')
print(d2)

{'Name': ' Vaishu', 'Age': 21, 'Education': 'Inter', 'fruits': ['apple', 'orange', 'lemon', 'kiwi', 'cherries', 'rose berry']}

In [ ]:
d4 = {'Name': ' Vaishu',
      'Age': 21,
      'Education': 'Inter',
      'fruits': ['apple', 'orange', 'lemon', 'kiwi', 'cherries', 'rose berry']
      }
#d4.pop('fruits')
#print(d4)
#delete
#del d4['Age']
#print(d4)
#del d4['fruits'][1:3]       #use del to delete list of items in a list
#print(d4)
#d4.clear()
#print(d4)
del d4

In [ ]:
#try the same thing by using collections of sets
d4 = {
       'Name': ' Vaishu',
      'Age': 21,
      'Education': 'Inter',
      'fruits': {'apple', 'orange', 'lemon', 'kiwi', 'cherries', 'rose berry'}
      }
#we cannot access the sets items.
#add
d4['fruits'].add('dry grapes')
print(d4)

{'Name': ' Vaishu', 'Age': 21, 'Education': 'Inter', 'fruits': {'orange', 'apple', 'cherries', 'lemon', 'kiwi', 'dry grapes', 'rose berry'}}

In [ ]:
d4['fruits'].update('sri','raju','prasana')
print(d4)

{'Name': ' Vaishu', 'Age': 21, 'Education': 'Inter', 'fruits': {'u', 'apple', 'cherries', 'a', 'dry grapes', 'orange', 'r', 'i', 'kiwi', 's', 'rose berry', 'j', 'p', 'n', 'lemon'}}

In [ ]:
#print only keys from above dictionary?
print(d4.keys())
#print only values from dictionary?
print(d4.values())
#print items from dictionary
print(d4.items())        #stored in the tuples

dict_keys(['Name', 'Age', 'Education', 'fruits'])
dict_values([' Vaishu', 21, 'Inter', {'u', 'apple', 'cherries', 'a', 'dry grapes', 'orange', 'r', 'i', 'kiwi', 's', 'rose berry', 'j', 'p', 'n', 'lemon'}])
dict_items([('Name', ' Vaishu'), ('Age', 21), ('Education', 'Inter'), ('fruits', {'u', 'apple', 'cherries', 'a', 'dry grapes', 'orange', 'r', 'i', 'kiwi', 's', 'rose berry', 'j', 'p', 'n', 'lemon'})])

In [ ]:
d4 = {
       'Name': ' Vaishu',
      'Age': 21,
      'Education': 'Inter',
      'fruits': ['apple', 'orange', 'lemon', 'kiwi', 'cherries', 'rose berry']
      }
#print kwys in seperate line?
for x in d4.keys():
  print(x)
#print values in seperate line?
for y in d4.values():
  print(y)
#print both key:value pairs by using loops:

Name
Age
Education
fruits
 Vaishu
21
Inter
['apple', 'orange', 'lemon', 'kiwi', 'cherries', 'rose berry']

In [ ]:
for x in d4.items():
  print(x)

In [ ]:
#print both key:value pairs by using loops?
for z in d4.keys():
  print(f'{z}:{d4[z]}')

Name: Vaishu
Age:21
Education:Inter
fruits:['apple', 'orange', 'lemon', 'kiwi', 'cherries', 'rose berry']

In [ ]:
#what is heterogenous data and what is homogenous data?
#heterogenous--> if the collection is having different dtypes is know as heterogenous
#homogenous--> collections is having saming dtypes

#Functions

In [ ]:
#what is a function?
#A block of code which only run when it is called.
print("hello")
print(len("hello"))
print(type("hello"))

In [ ]:
#how to create a function?
#to create a function we need to use keyword "def"
def f1():
  print("hello")
  print("this is a running with a function")
  print("===================================")

#call the function
f1()

hello
this is a running with a function
===================================

In [ ]:
#create a function in the name "zenvius_welcome"
#print("hello good morning")
#print("this is your module 2")
#print("please practice the session")
def zenvius_welcome():
  print("hello good morning")
  print("this is your module 2")
  print("please practice the session")
zenvius_welcome()

hello good morning
this is your module 2
please practice the session

**paramters**


**Arguments**

In [ ]:
#what is parameter?
#creating a variable when you are defing a function is known as parameter
def details(Name,Age,Gender,Education):
  print(f'hello this is {Name}, and i am {Age} years old, my gender is {Gender}, and i have done bachelors in {Education}')       #formatting string method
details("vaishnavi",21,"female","srm")
#what is arguments?
#calling the function with certain values is known as arguments.
#note---> when you have given specific number of parameters while calling function equal number of arguments .

hello this is vaishnavi, and i am 21 years old, my gender is female, and i have done bachelors in srm

In [ ]:
#what do i do when i don't know how many parameters i pass?
def details(**name):
  for x,y in name.items():
    print(f"{x}={y}")
#call function
details(Name = "python",last_name="programming", Age=25, mobile = 9864225689)

Name=python
last_name=programming
Age=25
mobile=9864225689

In [ ]:
def details(**name):
  print(name)
#call function                   #default dtype is dictionary
details(Name = "python",last_name="programming", Age=25, mobile = 9864225689)

{'Name': 'python', 'last_name': 'programming', 'Age': 25, 'mobile': 9864225689}

In [ ]:
#when you don't know how many arguments has to pass?
def f4(n1,n2,n3,n4):
  print(f'hello {n3}')
f4("python","c","c++","java")

hello c++

In [ ]:
def f5(*name):
  print(name)
f5('py','js','j','react')

('py', 'js', 'j', 'react')

In [ ]:
def f5(*name):
  for x in name:
    print(f'hello {x}')
f5('py','js','j','react')

hello py
hello js
hello j
hello react

In [ ]:
'''  **----> when you don't know how many parameters has to pass----> arbitrary keyword arguments(kwarugs)
and the default data types for the kwargs is "dictionary".
2.  *----> when we don't know how many arguments we have to pass
    *---->Arugs---> Arbitrary arguments
    default data types for arugs are tuple.

In [ ]:
x = 5
def modify():
    global x
    x = 10
modify()
print(x)

10

In [ ]:
def foo():
    return total + 1
total = 0
print(foo())

1

In [ ]:
target = 5
intial = 0
while intial > target:
  print("go up")
  print("go down")
  print("===========completed==========")
intial = intial + 1

In [ ]:
a="sri"
b="latha"
s=(a+b)
print('la'in b)

True

In [ ]:
def mult(list):
  y=2
  for x in list:
     y *= x
  return y
print(mult((2,4,1)))

16

In [ ]:
m=[x for x in range(1,1000) if "2" in str(x)]      #print all '2' from 10000
print(m)

[2, 12, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 32, 42, 52, 62, 72, 82, 92, 102, 112, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 132, 142, 152, 162, 172, 182, 192, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 302, 312, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 332, 342, 352, 362, 372, 382, 392, 402, 412, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 432, 442, 452, 462, 472, 482, 492, 502, 512, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 532, 542, 552, 562, 572, 582, 592, 602, 612, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 632, 642, 652, 662, 672, 682, 692, 702, 712, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 732, 742, 752, 762, 772, 782, 792, 802, 812, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 832, 842, 852, 862, 872, 882, 892, 902, 912, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 932, 942, 952, 962, 972, 982, 992]

In [ ]:
n=[5,1,3,5,9,2,26]
m=[x for x in n if x%2 ==0]
print(m)

[2, 26]

In [ ]:
n=[5,1,3,5,9,2,26]
for x in n:
  if x%2==0:
    print(x,end=" ")

2 26